asgiref==3.4.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
coverage==6.0.2
cryptography==35.0.0
Django==3.2.8
django-countries==7.2.1
django-debug-toolbar==3.2.2
django-js-asset==1.2.2
django-mptt==0.13.4
idna==3.3
paypal-checkout-serversdk==1.0.1
paypalhttp==1.0.1
Pillow==8.4.0
pycparser==2.21
pyOpenSSL==21.0.0
pytz==2021.3
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
stripe==2.61.0
urllib3==1.26.7
